<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testpickImg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849E33581DEFB3B300C9FCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849E336C1DEFB3B300C9FCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849E33771DEFB3B300C9FCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
